# --- CONFIGURAÇÕES DO BACKEND (Django) ---
DJANGO_PROFILE=dev
DEBUG=True
SECRET_KEY=sua_chave_secreta_gerada_localmente
ALLOWED_HOSTS=127.0.0.1,localhost,seu_ip_aqui

# No Windows/Linux local, deixe vazio para usar SQLite:
DATABASE_URL=

# Configurações de CORS e CSRF para o Celular
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://seu_ip_aqui:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://seu_ip_aqui:5173

# --- CONFIGURAÇÕES DO FRONTEND (Vite) ---
VITE_API_URL=http://localhost:8000/api